# macOS
.DS_Store
.AppleDouble
.LSOverride

# Xcode user-specific
xcuserdata/
*.xccheckout
*.xcscmblueprint

# Xcode build products
build/
DerivedData/
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
.swiftpm/xcode/package.xcworkspace/xcuserdata/
